@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #F6F6F8;
  padding: 0% 5%;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0em;
  color: #999999; }
  .footer__menu {
    border-bottom: 1px solid #e0e0e0;
    padding: 45px 0px 45px 0px; }
  .footer__menu-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
    padding: 0% 0%; }
    @media (min-width: 767.98px) {
      .footer__menu-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0% 10%; } }
    @media (min-width: 1200px) {
      .footer__menu-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
  .footer__menu-link {
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
    color: #000000;
    white-space: nowrap;
    margin: 10px 10px 10px 0px;
    position: relative;
    min-width: 255px;
    padding-bottom: 20px; }
    @media (min-width: 767.98px) {
      .footer__menu-link {
        font-size: 18px; } }
  .footer__sub-menu-list {
    padding: 0px 0px 10px 0px;
    font-weight: 400; }
  .footer__sub-menu-link {
    padding: 30px 10px 0px 0px;
    color: #999999;
    list-style-position: inside;
    list-style-image: url("../../img/footer/Vector.png"); }
    .footer__sub-menu-link a {
      color: #999999; }
  .footer__copy {
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    padding: 30px; }

.contact-links {
  margin-right: 0px; }
  @media (min-width: 767.98px) {
    .contact-links {
      margin-right: 80px; } }

.contact-link__email {
  list-style-image: url("../../img/footer/envelope.png"); }

.contact-link__phone {
  list-style-image: url("../../img/footer/phone.png"); }

.contact-link__address {
  list-style-image: url("../../img/footer/placeholder.png"); }

html body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  overflow-x: hidden;
  color: #999999; }

.wrapper {
  min-width: 320px;
  margin: 0px; }

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-width: 320px; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 320px;
  padding: 3% 3%; }
  @media (min-width: 1212px) {
    .container {
      max-width: 1110px; } }

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.button-link {
  width: 200px;
  height: 45px;
  font-size: 16px;
  line-height: 44px;
  background: #4985FF;
  -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 0px #6F6F6F40;
  box-shadow: 0px 0px 10px 0px #6F6F6F40;
  opacity: 1; }
  .button-link:hover {
    opacity: 0.8;
    -webkit-transition: opacity 0.9s;
    -o-transition: opacity 0.9s;
    transition: opacity 0.9s; }
  .button-link:active {
    background: #999999;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  .button-link a {
    color: #FFFFFF; }

.title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
  padding: 50px;
  max-width: 800px; }
  @media (min-width: 991.98px) {
    .title {
      font-size: 36px;
      line-height: 53px; } }

.white-text {
  color: #FFFFFF; }

.first-screen {
  width: 100%;
  height: 100%;
  background-image: url("../img/header/header_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px;
  left: 0px; }
  .first-screen__title {
    font-size: 34px;
    line-height: 34px;
    font-weight: 800; }
    @media (min-width: 767.98px) {
      .first-screen__title {
        font-size: 36px;
        line-height: 53px; } }
    @media (min-width: 991.98px) {
      .first-screen__title {
        font-size: 40px;
        line-height: 54px;
        max-width: 830px; } }
  .first-screen__container {
    height: inherit;
    padding: 15% 2% 15% 2%; }
  .first-screen p {
    font-weight: 500;
    line-height: 20px; }

.services__title {
  max-width: 900px; }

.services__subtitle {
  max-width: 830px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-bottom: 20px; }

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 1212px) {
    .services__row {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.services__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 50px 14px; }

.services__button-link {
  margin: 50px; }

.item {
  max-width: 600px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1;
  flex: 0 1; }
  @media (min-width: 1212px) {
    .item {
      max-width: 353px;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
      flex: 0 0 33.333%; } }
  .item__icon-container {
    width: 112px;
    height: 112px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
    align-self: flex-start; }
  .item__icon {
    width: 90px;
    height: 90px;
    border: 1px solid #4985FF;
    border-radius: 50%;
    padding: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .item__icon img {
      width: 38px;
      height: 40px; }
  .item__title {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px 0px;
    color: #323232; }
  .item__text {
    max-width: 400px;
    padding: 1% 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left; }
    @media (min-width: 1212px) {
      .item__text {
        max-width: 222px;
        padding: 10% 5%; } }

.about-us {
  background-color: #F6F6F8; }
  .about-us__container {
    width: 100%; }
  .about-us__row {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media (min-width: 1212px) {
      .about-us__row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
  .about-us__row-items {
    max-width: 270px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (min-width: 991.98px) {
      .about-us__row-items {
        max-width: 900px;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }
  .about-us__column {
    max-width: 50%;
    min-width: 250px;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px 20px; }
    @media (min-width: 1212px) {
      .about-us__column {
        -ms-flex-pack: distribute;
        justify-content: space-around;
        margin: 0px 0px 50px 0px;
        min-width: 500px; } }
  .about-us__link {
    display: inline-block;
    color: #4985ff;
    text-decoration: underline;
    padding: 30px 0px 0px 0px; }
  .about-us__title {
    text-align: left;
    padding: 0px 0px 40px 0px; }
  .about-us__img {
    max-width: 100% auto;
    max-height: 100% auto;
    margin-left: 0px;
    border-radius: 30px; }
    @media (min-width: 1212px) {
      .about-us__img {
        width: 500px;
        height: 400px;
        margin-left: 60px; } }
  .about-us__item {
    padding: 10px; }
    @media (min-width: 991.98px) {
      .about-us__item {
        padding: 30px; } }
  .about-us__item-icon-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .about-us__item-icon {
    width: 30px;
    height: 26.5px;
    margin: 5px; }
  .about-us__item-numbers {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    color: #323232; }
  .about-us__item-text {
    margin: 10px; }
    .about-us__item-text a {
      font-size: 16px;
      font-weight: 400;
      line-height: 25px;
      text-align: left;
      color: #999999; }

.row-border {
  border-bottom: 1px solid #e0e0e0;
  width: 50%; }
  @media (min-width: 1212px) {
    .row-border {
      width: 100%; } }

.all-services {
  background: -webkit-gradient(linear, left top, right top, color-stop(20.44%, #504DC2), color-stop(80.91%, #5F12D0)), -webkit-gradient(linear, left top, right top, to(#FFFFFF));
  background: -webkit-linear-gradient(left, #504DC2 20.44%, #5F12D0 80.91%), -webkit-linear-gradient(left, #FFFFFF 100%);
  background: -o-linear-gradient(left, #504DC2 20.44%, #5F12D0 80.91%), -o-linear-gradient(left, #FFFFFF 100%);
  background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), linear-gradient(to right, #FFFFFF 100%);
  background-size: 100% 100%;
  background-position: center top, center bottom;
  background-repeat: no-repeat;
  text-align: left; }
  @media (min-width: 1212px) {
    .all-services {
      background-size: 100% 50%; } }
  .all-services__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 3% 0%; }
  .all-services__title {
    text-align: center;
    padding: 30px 10px; }
    @media (min-width: 767.98px) {
      .all-services__title {
        padding: 0px 0px 10px 50px; } }
    @media (min-width: 1212px) {
      .all-services__title {
        padding: 0px 0px 15px 0px;
        text-align: left; } }
  .all-services__button-link {
    margin: 30px 30px; }
  .all-services__row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (min-width: 1212px) {
      .all-services__row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -ms-flex-pack: distribute;
        justify-content: space-around; } }
  .all-services__column {
    max-width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 15px 15px; }
    @media (min-width: 1212px) {
      .all-services__column {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
        flex: 0 0 33%; } }
  .all-services__img {
    width: 250px; }
    @media (min-width: 479.98px) {
      .all-services__img {
        min-width: 250px; } }
    @media (min-width: 767.98px) {
      .all-services__img {
        width: 100%; } }
  .all-services__text-container {
    margin: 10px 0px 0px 10px; }
  .all-services__subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 15px 0px; }
    @media (min-width: 1212px) {
      .all-services__subtitle {
        color: #323232; } }
    .all-services__subtitle span {
      color: #4985ff; }
  .all-services__text {
    margin: 15px 0px; }
  .all-services__link {
    color: #4985ff;
    text-decoration: underline;
    margin: 15px 0px; }

.first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.all-projects {
  background-color: #F6F6F8; }
  .all-projects__container p {
    padding: 0px 40px 40px; }
  .all-projects__row {
    max-width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0px auto; }
    @media (min-width: 767.98px) {
      .all-projects__row {
        max-width: 700px;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin: 25px 15px; } }
    @media (min-width: 1212px) {
      .all-projects__row {
        max-width: 1160px;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 25px 25px; } }
  .all-projects__link {
    width: 255px;
    height: 255px;
    display: inline-block;
    margin: 15px 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1; }
    @media (min-width: 767.98px) {
      .all-projects__link {
        margin: 15px 15px; } }
    .all-projects__link:hover {
      opacity: 0.5;
      -webkit-transition: opacity 0.9s;
      -o-transition: opacity 0.9s;
      transition: opacity 0.9s; }
  .all-projects__button-link {
    margin: 30px 0px 60px 0px; }

.video {
  width: 100% auto;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1))), url("../img/video/bg.jpg");
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../img/video/bg.jpg");
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../img/video/bg.jpg");
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../img/video/bg.jpg");
  background-position: 0 0;
  background-size: 100% 50vh;
  background-repeat: no-repeat;
  opacity: 1; }
  .video__container {
    border-bottom: 1px solid #e0e0e0; }
  .video__title {
    padding-bottom: 10px; }
  .video__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .video__video poster {
      width: 100%;
      height: 100%; }
  .video__video-container {
    background-color: #000000;
    border: none;
    position: relative;
    border-radius: 10px;
    margin-top: 70px;
    width: 300px;
    height: 145px;
    padding: 0px; }
    @media (min-width: 767.98px) {
      .video__video-container {
        width: 450px;
        height: 220px; } }
    @media (min-width: 991.98px) {
      .video__video-container {
        width: 750px;
        height: 330px;
        margin-top: 40px; } }
    @media (min-width: 1212px) {
      .video__video-container {
        width: 970px;
        height: 430px; } }

.subscribe {
  background-color: #FFFFFF;
  padding: 20px; }
  @media (min-width: 767.98px) {
    .subscribe {
      padding: 5%; } }
  .subscribe__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #323232;
    padding: 20px; }
  .subscribe__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px; }
  .subscribe__input {
    max-width: 300px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px 30px 30px 30px;
    margin: 30px; }
    @media (min-width: 479.98px) {
      .subscribe__input {
        max-width: 400px; } }
    @media (min-width: 991.98px) {
      .subscribe__input {
        max-width: 500px; } }
  .subscribe__input-email {
    max-width: 150px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 1px solid #F2F2F2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 30px 0px 0px 30px;
    padding: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #999999; }
    @media (min-width: 479.98px) {
      .subscribe__input-email {
        max-width: 250px; } }
    @media (min-width: 991.98px) {
      .subscribe__input-email {
        max-width: 300px; } }
    .subscribe__input-email input::-webkit-input-placeholder {
      font-weight: normal;
      font-size: 13px;
      line-height: 21px;
      color: #999999; }
    .subscribe__input-email input:-ms-input-placeholder {
      font-weight: normal;
      font-size: 13px;
      line-height: 21px;
      color: #999999; }
    .subscribe__input-email input::-ms-input-placeholder {
      font-weight: normal;
      font-size: 13px;
      line-height: 21px;
      color: #999999; }
    .subscribe__input-email input::placeholder {
      font-weight: normal;
      font-size: 13px;
      line-height: 21px;
      color: #999999; }
  .subscribe__input-submit {
    max-width: 150px;
    font-size: 12px;
    height: 45px;
    background: #4985FF;
    border-radius: 0px 30px 30px 0px;
    font-weight: 500;
    line-height: 20px;
    padding: 10px;
    display: inline-block;
    color: #FFFFFF;
    opacity: 1; }
    @media (min-width: 479.98px) {
      .subscribe__input-submit {
        max-width: 200px;
        font-size: 13px; } }
    @media (min-width: 767.98px) {
      .subscribe__input-submit {
        max-width: 250px;
        font-size: 16px; } }
    .subscribe__input-submit:hover {
      opacity: 0.8;
      -webkit-transition: opacity 0.9s;
      -o-transition: opacity 0.9s;
      transition: opacity 0.9s; }
    .subscribe__input-submit:active {
      background: #999999;
      -webkit-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s; }
  .subscribe p {
    font-size: 13px;
    font-weight: 400;
    line-height: 21px; }
