@import "variables.scss";
.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color_5;
    padding: 0% 5%;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0em;
    color: $color_3;
    &__menu {
        // max-width: $maxWidthContainer;
        border-bottom: 1px solid $color_4;
        padding: 45px 0px 45px 0px;
    }
    &__menu-list {
        display: flex;
        flex-direction: column;
        // align-items: flex-start;
        text-align: left;
        padding: 0% 0%;
        @media (min-width: 767.98px) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            padding: 0% 10%;
        }
        @media (min-width: 1200px) {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            // justify-content: center;
            padding: 0% 2%;
        }
    }
    &__menu-list>li {}
    &__menu-link {
        font-size: 15px;
        font-weight: 600;
        line-height: 22px;
        color: #000000;
        white-space: nowrap;
        margin: 10px 10px 10px 0px;
        position: relative;
        min-width: 255px;
        padding-bottom: 20px;
        @media (min-width: 767.98px) {
            font-size: 18px;
        }
    }
    &__sub-menu-list {
        padding: 0px 0px 10px 0px;
        font-weight: 400;
    }
    &__sub-menu-link {
        padding: 30px 10px 0px 0px;
        color: $color_3;
        list-style-position: inside;
        list-style-image: url("../../img/footer/Vector.png");
        a {
            color: $color_3;
        }
    }
    &__copy {
        font-size: 13px;
        line-height: 21px;
        text-align: center;
        padding: 30px;
    }
}

.contact-links {
    margin-right: 0px;
    @media (min-width: 767.98px) {
        margin-right: 80px;
    }
}

.contact-link {
    &__email {
        list-style-image: url("../../img/footer/envelope.png");
    }
    &__phone {
        list-style-image: url("../../img/footer/phone.png");
    }
    &__address {
        list-style-image: url("../../img/footer/placeholder.png");
    }
}