@import "nullstyle.scss";
@import "variables.scss";
@import "header.scss";
@import "footer.scss";
html body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    overflow-x: hidden;
    color: $color_3;
}

.wrapper {
    min-width: 320px;
    margin: 0px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 320px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 320px;
    padding: 3% 3%;
    @media (min-width: 1212px) {
        max-width: $maxWidthContainer;
    }
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-link {
    width: 200px;
    height: 45px;
    font-size: 16px;
    line-height: 44px;
    background: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px #6F6F6F40;
    opacity: 1;
    &:hover {
        opacity: 0.8;
        transition: opacity 0.9s;
    }
    &:active {
        background: $color_3;
        transition: opacity 0.3s;
    }
    a {
        color: $color_6;
    }
}

.title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: $color_2;
    padding: 50px;
    max-width: 800px;
    @media (min-width: 991.98px) {
        font-size: 36px;
        line-height: 53px;
    }
}

.white-text {
    color: $color_6;
}

.first-screen {
    width: 100%;
    height: 100%;
    background-image: url("../img/header/header_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    top: 0px;
    left: 0px;
    &__title {
        font-size: 34px;
        line-height: 34px;
        font-weight: 800;
        @media (min-width: 767.98px) {
            font-size: 36px;
            line-height: 53px;
        }
        @media (min-width: 991.98px) {
            font-size: 40px;
            line-height: 54px;
            max-width: 830px;
        }
    }
    &__container {
        height: inherit;
        padding: 15% 2% 15% 2%;
    }
    p {
        font-weight: 500;
        line-height: 20px;
    }
}

//мы создаем мобильные приложения
.services {
    &__title {
        max-width: 900px;
    }
    &__subtitle {
        max-width: 830px;
        align-self: center;
        margin-bottom: 20px;
    }
    &__row {
        display: flex;
        flex-direction: column;
        @media (min-width: 1212px) {
            flex-direction: row;
        }
    }
    &__column {
        display: flex;
        flex-direction: row;
        margin: 50px 14px;
    }
    &__button-link {
        margin: 50px;
    }
}

.item {
    max-width: 600px;
    flex: 0 1;
    @media (min-width: 1212px) {
        max-width: 353px;
        flex: 0 0 33.333%;
    }
    &__icon-container {
        width: 112px;
        height: 112px;
        border: 1px solid #E0E0E0;
        border-radius: 50%;
        padding: 10px;
        box-sizing: border-box;
        display: flex;
        align-self: flex-start;
    }
    &__icon {
        width: 90px;
        height: 90px;
        border: 1px solid #4985FF;
        border-radius: 50%;
        padding: 25px;
        box-sizing: border-box;
        img {
            width: 38px;
            height: 40px;
        }
    }
    &__title {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        padding: 10px 0px;
        color: $color_2;
    }
    &__text {
        max-width: 400px;
        padding: 1% 5%;
        display: flex;
        flex-direction: column;
        text-align: left;
        @media (min-width: 1212px) {
            max-width: 222px;
            padding: 10% 5%;
        }
    }
}

//высокие стандарты разработки
.about-us {
    background-color: #F6F6F8;
    &__container {
        width: 100%;
    }
    &__row {
        max-width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        @media (min-width: 1212px) {
            flex-direction: row;
        }
    }
    &__row-items {
        max-width: 270px;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        @media (min-width: 991.98px) {
            max-width: 900px;
            flex-wrap: nowrap;
        }
    }
    &__column {
        max-width: 50%;
        min-width: 250px;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding: 20px 20px;
        @media (min-width: 1212px) {
            justify-content: space-around;
            margin: 0px 0px 50px 0px;
            min-width: 500px;
        }
    }
    &__link {
        display: inline-block;
        color: $color_1;
        text-decoration: underline;
        padding: 30px 0px 0px 0px;
    }
    &__title {
        text-align: left;
        padding: 0px 0px 40px 0px;
    }
    &__img {
        max-width: 100% auto;
        max-height: 100% auto;
        margin-left: 0px;
        border-radius: 30px;
        @media (min-width: 1212px) {
            width: 500px;
            height: 400px;
            margin-left: 60px;
        }
    }
    &__item {
        padding: 10px;
        @media (min-width: 991.98px) {
            padding: 30px;
        }
    }
    &__item-icon-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    &__item-icon {
        width: 30px;
        height: 26.5px;
        margin: 5px;
    }
    &__item-numbers {
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 53px;
        color: $color_2;
    }
    &__item-text {
        margin: 10px;
        a {
            font-size: 16px;
            font-weight: 400;
            line-height: 25px;
            text-align: left;
            color: $color_3;
        }
    }
}

.row-border {
    border-bottom: 1px solid $color_4;
    width: 50%;
    @media (min-width: 1212px) {
        width: 100%;
    }
}

//наши работы
.all-services {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), linear-gradient(to right, $color_6 100%);
    background-size: 100% 100%;
    background-position: center top, center bottom;
    background-repeat: no-repeat;
    text-align: left;
    @media (min-width: 1212px) {
        background-size: 100% 50%;
    }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3% 0%;
    }
    &__title {
        text-align: center;
        padding: 30px 10px;
        @media (min-width: 767.98px) {
            padding: 0px 0px 10px 50px;
        }
        @media (min-width: 1212px) {
            padding: 0px 0px 15px 0px;
            text-align: left;
        }
    }
    &__button-link {
        margin: 30px 30px;
    }
    &__row {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: 1212px) {
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-around;
        }
    }
    &__column {
        max-width: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        margin: 15px 15px;
        @media (min-width: 1212px) {
            flex: 0 0 33%;
        }
    }
    &__img {
        width: 250px;
        @media (min-width: 479.98px) {
            min-width: 250px;
        }
        @media (min-width: 767.98px) {
            width: 100%;
        }
    }
    &__text-container {
        margin: 10px 0px 0px 10px;
    }
    &__subtitle {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: $color_6;
        margin: 15px 0px;
        @media (min-width: 1212px) {
            color: $color_2;
        }
        span {
            color: $color_1;
        }
    }
    &__text {
        margin: 15px 0px;
    }
    &__link {
        color: $color_1;
        text-decoration: underline;
        margin: 15px 0px;
    }
}

.first-row {
    display: flex;
    justify-content: space-between;
}

// наши проекты
.all-projects {
    background-color: #F6F6F8;
    &__container {
        p {
            padding: 0px 40px 40px;
        }
    }
    &__row {
        max-width: 700px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
        @media (min-width: 767.98px) {
            max-width: 700px;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            margin: 25px 15px;
        }
        @media (min-width: 1212px) {
            max-width: 1160px;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin: 25px 25px;
        }
    }
    &__link {
        width: 255px;
        height: 255px;
        display: inline-block;
        margin: 15px 5px;
        box-sizing: border-box;
        @media (min-width: 767.98px) {
            margin: 15px 15px;
        }
        opacity: 1;
        &:hover {
            opacity: 0.5;
            transition: opacity 0.9s;
        }
    }
    &__button-link {
        margin: 30px 0px 60px 0px;
    }
}

.video {
    width: 100% auto;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url("../img/video/bg.jpg");
    background-position: 0 0;
    background-size: 100% 50vh;
    background-repeat: no-repeat;
    opacity: 1;
    &__container {
        border-bottom: 1px solid $color_4;
    }
    &__title {
        padding-bottom: 10px;
    }
    &__video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        poster {
            width: 100%;
            height: 100%;
        }
    }
    &__video-container {
        background-color: #000000;
        border: none;
        position: relative;
        border-radius: 10px;
        margin-top: 70px;
        width: 300px;
        height: 145px;
        padding: 0px;
        @media (min-width: 767.98px) {
            width: 450px;
            height: 220px;
        }
        @media (min-width: 991.98px) {
            width: 750px;
            height: 330px;
            margin-top: 40px;
        }
        @media (min-width: 1212px) {
            width: 970px;
            height: 430px;
        }
    }
}

.subscribe {
    background-color: $color_6;
    padding: 20px;
    @media (min-width: 767.98px) {
        padding: 5%;
    }
    &__title {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        color: $color_2;
        padding: 20px;
    }
    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
    }
    &__input {
        max-width: 300px;
        height: 45px;
        display: flex;
        flex-direction: row;
        box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
        border-radius: 30px 30px 30px 30px;
        margin: 30px;
        @media (min-width: 479.98px) {
            max-width: 400px;
        }
        @media (min-width: 991.98px) {
            max-width: 500px;
        }
    }
    &__input-email {
        max-width: 150px;
        height: 45px;
        display: flex;
        flex-direction: column;
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        border-radius: 30px 0px 0px 30px;
        padding: 15px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 21px;
        color: #999999;
        @media (min-width: 479.98px) {
            max-width: 250px;
        }
        @media (min-width: 991.98px) {
            max-width: 300px;
        }
        input::placeholder {
            font-weight: normal;
            font-size: 13px;
            line-height: 21px;
            color: #999999;
        }
    }
    &__input-submit {
        max-width: 150px;
        font-size: 12px;
        height: 45px;
        background: #4985FF;
        border-radius: 0px 30px 30px 0px;
        font-weight: 500;
        line-height: 20px;
        padding: 10px;
        display: inline-block;
        color: $color_6;
        opacity: 1;
        @media (min-width: 479.98px) {
            max-width: 200px;
            font-size: 13px;
        }
        @media (min-width: 767.98px) {
            max-width: 250px;
            font-size: 16px;
        }
        &:hover {
            opacity: 0.8;
            transition: opacity 0.9s;
        }
        &:active {
            background: $color_3;
            transition: opacity 0.3s;
        }
    }
    p {
        font-size: 13px;
        font-weight: 400;
        line-height: 21px;
    }
}