$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1110px; //изменяются в зависимости от макета
$md1: 1200px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;
$color_1: #4985ff;
$color_2: #323232;
$color_3: #999999;
$color_4: #e0e0e0;
$color_5: #F6F6F8;
$color_6: #FFFFFF;